@import 'Signout.scss';

.menu {
  display: none;
  z-index: 3001; // needed to go above the fixed CTA button on home page
  position: fixed;
  top: 2rem;
  left: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  user-select: none;

  &.showing {
    display: block;
    opacity: 1;
    animation: fade-in 0.5s cubic-bezier(0.25, 0.15, 0.3, 1.1) backwards;

    &:active,
    &:focus {
      outline: none !important;
    }
  }

  .items {
    background: white;
    border-radius: 0.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: $black;
    margin-right: 0.25rem;
    max-width: 25rem;
    padding: 0.75rem;
    position: absolute;
    right: 0.25rem;
    top: 3.125rem;
    z-index: 1000;
    width: calc(100% - 1rem);

    // arrow
    // before for an outline in grey, so arrow doesn't disappear on white background;
    // after for real (white) arrow
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      pointer-events: none;
    }

    &::before {
      right: 1.5rem;
      border: 0.75rem solid transparent;
      border-bottom-color: $grey-light;
    }

    &::after {
      right: 1.625rem;
      border: 0.625rem solid transparent;
      border-bottom-color: white;
    }

    .item {
      border: 0;
      border-bottom: 1px solid $grey-light;
      border-radius: 0;
      display: inherit;
      position: relative;
      width: 100%;

      &.navigation {
        @media(min-width: $tablet) {
          display: none;
        }
      }

      .link {
        color: $black;
        display: block;
        font-weight: 500;
        padding-bottom: 1rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 1rem;
        text-decoration: none;
        transition: transform 250ms ease-out;

        &:hover,
        &:focus {
          transform: translateX(0.375rem);
        }

        &.current {
          cursor: inherit;
          color: $primary;
        }
      }

      &:last-child {
        border: 0;
      }

      &.item-signout {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .version {
          color: $grey-dark;
          font-size: $font-size-small;
        }
      }
    }
  }
}
