.task-item {
  @extend .item;

  align-items: center;
  display: flex;
  justify-content: space-around;

  &:hover {
    background-color: $grey-light;
    cursor: pointer;
  }

  div {
    @extend .col-tablet-1of5;

    text-align: center;

    &.task-identifier {
      @extend .col-tablet-2of5;

      .task-uuid {
        font-size: 0.75rem;
      }
    }

    &.task-process {
      text-align: left;

      .task-machine, .task-time {
        font-size: 0.75rem;
      }
    }

    &.task-params {
      text-align: center;
    }
  }

  button {
    @extend .col-tablet-1of5;
    @extend .button;
    @extend .is-secondary;

    text-align: center;
    z-index: 1;

    &.task-stop {
      @extend .is-primary;
    }
  }
}
