.task-item {
  @extend .item;

  align-items: center;
  display: flex;
  justify-content: space-around;

  &:hover {
    background-color: $grey-light;
    cursor: pointer;
  }

  div {
    @extend .col-tablet-1of5;

    text-align: center;

    &.task-identifier {
      text-align: left;
      .task-uuid {
        font-size: 0.5rem;
      }
    }

    &.task-times {
      font-size: 0.75rem;
    }

    &.task-params {
      @extend .col-tablet-1of10;

      text-align: center;
    }
  }

  button {
    @extend .col-tablet-1of10;
    @extend .button;
    @extend .is-secondary;

    text-align: center;

    &.task-stop {
      @extend .is-primary;
    }
  }
}
