.task-item {
  align-items: center;
  display: flex;
  justify-content: space-around;

  div {
    @extend .col-tablet-1of5;
    text-align: center;

    &.task-identifier {
      text-align: left;
    }

    .task-id {
      font-size: 0.5rem;
    }
  }
}
