@import "TaskItem.scss";

.tasks {
  .search-spacing {
    margin-bottom: 1rem;
  }

  .controls {
    .types-state {
      background-position: 95% 50%;
      width: 9rem;
    }
    .types-type {
      background-position: 95% 50%;
      width: 23rem;
    }
  }
}
