@import "TaskItem.scss";

.tasks {
  .search-spacing {
    margin-bottom: 1rem;
  }

  .controls {
    .selector-name {
      background-position: 95% 50%;
      width: 23rem;
    }

    .selector-state {
      background-position: 95% 50%;
      width: 9rem;
    }
  }
}
