.about {
  @extend .landing;

  section {
    &:nth-child(3) {
      margin-top: 5rem;
    }

    .section-content {
      ul.section-text {
        text-align: left !important;
      }
    }
  }
}

.about-content {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #fff;
  margin: auto;
  margin-top: -20vh;
  margin-bottom: 15px;
  padding: 2rem;
  padding-top: 0rem;
  width: 90vw;

}