.landing {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;

  section {
    height: 100%;
    padding-bottom: 6.25rem;

    &.hero {
      align-items: center;
      background-image: url("/static/assets/hero-img.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      height: calc(100vh - #{$header-height});
      justify-content: center;
      padding-bottom: 0;
    }


    &.verdicts {
      .items {
        display: flex;

        .item-container {
          @extend .col-tablet-50;
        }
      }
    }

    &.footer {
      align-items: center;
      background-color: $turquoise-dark;
      height: 18.75rem;
      justify-content: center;
      padding: 0;
      padding-top: 1.875rem;

      .logo-container {
        display: flex;
        flex: 3;
        flex-direction: column;
        padding-right: 2.5rem;
      }

      .links-container-big {
        display: flex;
        flex: 4;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2.5rem;
      }

      .links-container-small {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .container {
      &.is-footer {
        align-items: baseline;
        align-items: flex-start;
        display: flex;
        flex-direction: row;

      }
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 64rem;
      margin: auto;
    }

    .section-title {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 1.25rem;
      padding-top: 3.125rem;
      width: 100%;
      &.has-border-top {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $grey-light
      }
    }
  }

  .cta {
    @extend .button;

    &.white {
      background-color: $white;
      color: $turquoise;
    }

    background-color: $turquoise;
    color: $white;
    border-radius: 1.5em;
    font-size: 1.125rem;
    padding: 0.75em;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .link {
    color: $white;
    font-weight: 200;
    margin-bottom: 1.625rem;
    opacity: 1;
    text-decoration: none;
    transition: 0.2;

    &:hover {
      opacity: 0.8;
      transition: 0.2;
    }
  }

  .h1 {
    color: $white;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    text-align: center;
  }

  .h2 {
    color: $black;
    font-size: 2.75rem;
    font-weight: 800;
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    text-align: center;
  }

  .h3 {
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  .p {
    color: $black;
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 50rem;
    margin-top: 3.75rem;
    margin-bottom: 3.55rem;
    line-height: 2.125rem;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}
