.landing {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;

  section {
    height: 100%;
    padding-bottom: 4rem;
    z-index: 1000;
    background-color: #fff;
    margin: auto;
    &.hero {
      background-image: url("/static/assets/hero-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      height: calc(100vh - #{$header-height});
      justify-content: center;
      padding-bottom: 0;
    }


    &.verdicts {
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      width: 90vw;
      margin-top: -30vh;
      margin-bottom: 15px;
      .items {
        display: flex;
        .item-container {
          @extend .col-tablet-50;
          max-width: inherit;
        }
      }
    }
    .heroContent{
      height: calc(100vh - #{$header-height} - 30vh);
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 64rem;
        margin: auto;

        .show-more {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 1rem 0;

          button {
            @extend .button;
            @extend .is-outlined;
            @extend .is-primary;
            @extend .thin;

            color: $primary;
          }
        }
      }
    }  

    &.partners {
      .anchor {
        border-bottom: 1px solid $orange;
      }
    }

    .section-title {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2.25rem;
      padding-top: 3.125rem;
      width: 100%;

      h2 {
        color: $grey-darker;
        font-size: 1.563rem;
      }
    }

    .section-content {
      width: 100%;

      .section-text {
        text-align: center !important;
      }
    }

    .partner-logos {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;

      img[alt*="-logo"] {
        height: 5rem;
        width: auto;
      }

      .logo {
        height: 5rem;
        font-size: 1.5rem;

        img {
          height: 3rem;
        }
      }
    }
  }

  .cta {
    @extend .button;

    &.white {
      background-color: $white;
      color: $turquoise;
    }

    background-color: $turquoise;
    color: $white;
    border-radius: 1.5em;
    font-size: 1.125rem;
    padding: 0.75em;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .link {
    @extend .anchor;

    border-bottom: 1px solid $orange;
  }

  .h1 {
    color: $white;
    font-size: 2.441rem;
    font-weight: 200;
    text-align: center;
  }

  .h2 {
    color: $black;
    font-size: 1.953rem;
    font-weight: 800;
    margin-top: 1.953rem;
    margin-bottom: 3.052rem;
    text-align: center;
  }

  .h3 {
    color: $white;
    font-size: 1.563rem;
    font-weight: 700;
    margin-bottom: 1.563rem;
  }

  .p {
    color: $black;
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 50rem;
    margin-top: 3.75rem;
    margin-bottom: 3.55rem;
    line-height: 2.125rem;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}


@media only screen and (max-width: 400px) {
  .landing
  .h1 {
    color: $white;
    font-size: 1.563rem;
    font-weight: 200;
    text-align: center;
  }
  .landing 
  section
  .section-title {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    h2 {
      font-size: 1rem;
    }
  }
}