.landing {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;

  section {
    height: 100%;
    padding-bottom: 4rem;

    &.hero {
      align-items: center;
      background-image: url("/static/assets/hero-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      height: calc(100vh - #{$header-height});
      justify-content: center;
      padding-bottom: 0;
    }


    &.verdicts {
      .items {
        display: flex;

        .item-container {
          @extend .col-tablet-50;
          max-width: inherit;
        }
      }
    }

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 64rem;
      margin: auto;

      .show-more {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        button {
          @extend .button;
          @extend .is-outlined;
          @extend .is-primary;
          @extend .text-primary;
          @extend .thin;
        }
      }
    }

    &.partners {
      .anchor {
        border-bottom: 1px solid $orange;
      }
    }

    .section-title {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2.25rem;
      padding-top: 3.125rem;
      width: 100%;

      h2 {
        color: $grey-darker;
      }
    }

    .section-content {
      width: 100%;

      .section-text {
        @extend .text-center;
      }
    }

    .partner-logos {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;

      img[alt*="-logo"] {
        height: 5rem;
        width: auto;
      }

      .logo {
        height: 5rem;
        font-size: 1.5rem;

        img {
          height: 3rem;
        }
      }
    }
  }

  .cta {
    @extend .button;

    &.white {
      background-color: $white;
      color: $turquoise;
    }

    background-color: $turquoise;
    color: $white;
    border-radius: 1.5em;
    font-size: 1.125rem;
    padding: 0.75em;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .link {
    @extend .anchor;

    border-bottom: 1px solid $orange;
  }

  .h1 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    text-align: center;
  }

  .h2 {
    color: $black;
    font-size: 2.75rem;
    font-weight: 800;
    margin-top: 1.875rem;
    margin-bottom: 4.375rem;
    text-align: center;
  }

  .h3 {
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  .p {
    color: $black;
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 50rem;
    margin-top: 3.75rem;
    margin-bottom: 3.55rem;
    line-height: 2.125rem;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}
