@import 'Content/index.scss';
@import 'Covid.scss';
@import 'Landing.scss';
@import 'Review/index.scss';
@import 'Signin.scss';
@import 'Signup/index.scss';
@import 'Trendings/index.scss';
@import 'Users/index.scss';
@import 'Verdict/index.scss';
