.backlink {
  min-height: 8rem;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  .backlink-container {
    align-items: center;
    border: solid 1px $grey-light;
    border-left: solid 1px $grey-light;
    border-right: solid 1px $grey-light;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: left;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .backlink-img {
      max-width: 20%;
      min-width: 8.125rem;
      object-fit: cover;
      object-position: center center;
      width: 8.125rem;
    }

    .backlink-data {
      overflow: hidden;
      padding: 1em 1.1em;
      width: 100%;

      .backlink-content b {
        color: $blue;
      }

      .backlink-footer {
        @extend .text-muted;

        display: flex;
        margin-top: 1rem;

        :not(:last-child) {
          margin-right: 1rem;
        }

        button {
          @extend .button;
          @extend .thin;
          @extend .text-muted;

          align-self: center;
          font-size: 0.8rem;
          height: 1.5rem;
        }
      }

      .backlink-source {
        margin-bottom: 1em;
      }

      .backlink-title {
        color: $grey-darker;
      }

      .backlink-url {
        color: $primary;
        text-decoration: none;
        font-size: 0.8em;
      }
    }

    .backlink-show-menu-button {
      background-color: transparent;
      border: none;
      border-radius: 50%;
      bottom: 1rem;
      color: $grey;
      cursor: pointer;
      padding: 0.35rem;
      position: absolute;
      right: 1rem;
      transition: all 0.3s;

      &:hover {
        background-color: $grey-lighter;
        color: $grey-darker;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
