.keywords-bar {
  display: flex;
  border: none;

  .keywords-input {
    border: none;
    border-radius: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: white;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    font-size: 1rem;
    font-family: Apercu;
    box-shadow: 0 1px 20px $grey-light;
    flex-grow: 1;

    &:focus {
      box-shadow: 0 1px 25px $grey-light;
      outline: none !important;
      -webkit-appearance:none;
    }
    &::placeholder {
      color: $grey-light
    }
  }

  &.vertical {
    flex-direction: column;

    .keywords-input {
      margin-bottom: 1rem;
    }
  }

  &.horizontal {
    flex-direction: row;
    margin-bottom: 2rem;

    .keywords-input {
      margin-right: 1rem;
    }
  }
}

.search-spacing {
  margin-bottom: 5em;
}
