.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("/static/assets/dropdown-disclosure-down.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  border: 1px solid #E4E6F4;
  border-radius: 1rem;
  color: #1F2338;
  font-weight: 500;
  height: 2rem;
  padding-left: 0.75rem;
  text-align: center;
  width: 7.875rem;
  font-size: 1rem;
  font-family: Apercu;

  &:before {
    background-image: url("/static/assets/calendar.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
  }

  option.placeholder {
    color: $grey-light;
  }

}
