.tags {
  display: flex;
  align-items: center;
  flex-direction: horizontal;

  .tag {
    border-radius: 18px;
    border: 1px solid $grey-light;
    font-weight: 500;
    height: 2rem;
    padding: 0 0.7rem;
    background-color: $grey-light;
    color: $white;
    line-height: 2rem;

    &.correct {
      background-color: lighten($green, 40%);
      border-color: lighten($green, 40%);
      color: $green;
    }

    &.partially-correct {
      background-color: lighten($bluegreen, 30%);
      border-color: lighten($bluegreen, 30%);
      color: $bluegreen;
    }

    &.inaccurate {
      background-color: lighten($orange, 30%);
      border-color: lighten($orange, 30%);
      color: $orange;
    }

    &.incorrect {
      background-color: lighten($red, 30%);
      border-color: lighten($red, 30%);
      color: $red;
    }

    &.social-tag {
      color: $grey-darker;
      font-weight: lighter !important;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
