.tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tag {
    background-color: $grey-light;
    border-radius: 18px;
    border: 1px solid $grey-light;
    color: $white;
    font-weight: 500;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.7rem;
    margin-bottom: 0.5rem;

    &.accurate,
    &.correct {
      background-color: $bluegreen-light;
      border-color: $bluegreen-light;
      color: $bluegreen;
    }

    &.mostly-accurate,
    &.mostly-correct {
      background-color: lighten($green, 45%);
      border-color: lighten($green, 45%);
      color: $green;
    }

    &.imprecise,
    &.lacks-context,
    &.partially-correct {
      background-color: lighten($yellow, 20%);
      border-color: lighten($yellow, 20%);
      color: darken($yellow, 20%);
    }

    &.misleading,
    &.unsupported {
      background-color: lighten($orange, 30%);
      border-color: lighten($orange, 30%);
      color: $orange;
    }

    &.flawed-reasoning,
    &.inaccurate,
    &.incorrect {
      background-color: lighten($red, 30%);
      border-color: lighten($red, 30%);
      color: $red;
    }

    &.social-tag {
      color: $grey-darker;
      font-weight: lighter !important;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  button, a {
    @extend .button;
    @extend .is-outlined;
    @extend .is-primary;
    @extend .text-primary;
    @extend .thin;

    margin-bottom: 0.5rem;
  }
}
