<<<<<<< HEAD
@import './ApplicationBar.scss';
@import "./Form/index.scss";
=======
@import "SignupForm/index.scss";

>>>>>>> integrated publication item

.signup {
  //align-items: center;
  //display: flex;
  //justify-content: center;

  .title {
    color: $primary;
    font-size: 3.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 1rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .to-signin {
    margin-bottom: 2rem;
    text-align: center;

    a {
      @extend .button;
      @extend .is-secondary;
    }
  }


}
