.appearance-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  .domain {
    font-weight: $font-weight-bold;
    min-width: 15rem;
  }

  .link {
    font-size: 0.75rem;
  }
}
