@import 'Add/index.scss';
@import 'Tabs.scss';

.appearances {
  &.empty {
    @extend .text-center;

    padding: 2rem;
  }

  .show-more {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    button {
      @extend .button;
      @extend .is-outlined;
      @extend .is-primary;
      @extend .text-primary;
      @extend .thin;
    }
  }

  .appearance-graph-container {
    h4 {
      color: $grey-darker;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
