@import 'Add/index.scss';
@import 'Citations.scss';
@import 'Tabs.scss';


.testifier-dashboard {
  margin-top: 4rem;
  min-height: 30rem;

  .verdict-item {
    border: none;
    margin-bottom: 2rem;
    padding: 1.25rem 0;

    h3 {
      font-size: $font-size-big;
    }
  }

  &.empty {
    padding: 2rem;
    text-align: center;
  }
}
