@import "Appearances/index.scss";

.testifier-dashboard {
  margin-top: 4rem;

  .verdict-item {
    border: none;
    margin-bottom: 2rem;
    padding: 1.25rem 0;

    h3 {
      font-size: $font-size-big;
    }
  }
}
