@import 'VerdictForm/index.scss';
@import 'VerdictInfoBoard/index.scss';

.verdict {
  .container {
    max-width: 41rem;

    section {
      .title {
          font-size: 1.75rem;
      }
    }
  }
}
