.appearance-item-container {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  align-items: stretch;
  border: solid 1px $grey-light;
  border-radius: 10px;
  display: flex;
  min-height: 100px;
  overflow: hidden;

  .appearance-item-img {
    max-width: 20%;
    min-width: 130px;
    object-fit: cover;
    object-position: center center;
    width: 130px;
  }

  .appearance-data {
    overflow: hidden;
    padding: 1em 1.1em;

    .appearance-source {
      margin-bottom: 1em;
    }

    .appearance-url {
      color: $primary;
      font-size: 0.8em;
    }
  }
}
