.appearance-item {
  @extend .anchor;

  align-items: center;
  border: solid 1px $grey-light;
  border-radius: $border-radius;
  display: flex;
  min-height: 8rem;
  text-align: left;
  overflow: hidden;


  &:not(:last-child) {
    margin-bottom: 1em;
  }

  .appearance-item-img {
    max-width: 20%;
    min-width: 8.125rem;
    object-fit: cover;
    object-position: center center;
    width: 8.125rem;
  }

  .appearance-data {
    overflow: hidden;
    padding: 1em 1.1em;
    width: 100%;

    .appearance-title {
      color: $grey-darker;
    }

    .appearance-source {
      margin-bottom: 1em;
    }

    .appearance-url {
      color: $primary;
      font-size: 0.8em;
    }

    .appearance-footer {
      @extend .text-muted;

      display: flex;
      margin-top: 1rem;
    }
  }
}
