.footer {
  background-color: $blue-darker;
  color: $grey-lighter;
  display: grid;
  grid-gap: 1rem;
  padding: 3.75rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
  justify-content: space-evenly;

  .logo-container {
    padding: 0 2rem 4rem 0;

    .logo-element {
      width: 100%;
      max-width: 13rem;
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 2.5rem 2.5rem;
  }

  .link {
    color: inherit;
    font-weight: 200;
    margin-bottom: 1.625rem;
    opacity: 1;
    text-decoration: none;
    transition: 0.2;

    &:hover {
      opacity: 0.8;
      transition: 0.2;
    }
  }

  .h3 {
    color: $blue-dark;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }
}
