.footer {
  background-color: $blue-darker;
  color: $grey-lighter;
  display: grid;
  grid-gap: 1rem;
  padding: 3.75rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 270px));
  justify-content: space-evenly;
  position: relative;

  .logo-container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 2rem;

    .logo-element {
      width: 100%;
      max-width: 13rem;
    }
  }

  .links-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .link {
    color: inherit;
    font-weight: 200;
    opacity: 1;
    transition: 0.2;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 1.625rem;
    }

    &:hover {
      opacity: 0.8;
      transition: 0.2;
    }
  }

  .h3 {
    color: $blue-dark;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  .app-version {
    background-color: $blue-darker;
    bottom: 0.5rem;
    color: $grey;
    position: absolute;
    right: 1rem;
  }
}
