.graph {
  @extend .item;

  box-sizing: border-box;
  height: calc(100vh - #{$header-height} - 1rem);
  padding: 0;
  position: relative;

  canvas {
    height: 100% !important;
    width: 100% !important;
  }
}
