.graph {
  @extend .item;

  height: calc(100vh - #{$header-height} - 1rem);

  div {
    height: 100% !important;

    canvas {
      bottom: 1rem;
      top: 1rem;
      //height: 100% !important;
    }
  }
}
