.logo {
  align-items: center;
  color: $grey-dark;
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;

  img {
    flex-basis: 0;
    height: 100%;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: auto;
  }
}
