.publication-item {
  @extend .item;

  color: $black;
  margin-bottom: 1rem;
  padding: 1rem;


  .publication-header {

  }

  .publication-info {

  }

  .publication-authors {
    list-style-type: none;
  }

  .publication-doi {

  }

}
