.selector {
  @extend .select;

  &:focus {
    box-shadow: none !important;
    outline:0px !important;
    -webkit-appearance:none;
  }

  &.empty {
    color: $grey-dark;
  }

  option {
    color: $black;

    &.placeholder {
      color: $grey-dark;
    }
  }
}
