.verdict-item {
  @extend .item;

  &.clickable {
    cursor: pointer;
  }

  h3 {
    color: $grey-darker;
  }

  .content-item {
    padding: 0;
    border: 0;
  }

  .verdict-editor-container {
    display: flex;
    flex-direction: row;
    margin: 0.75rem 0;
    align-items: center;
    font-size: 0.8em;

    .avatar {
      margin: 0;
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
    }
  }

  hr {
    width: 25%;
    border: none;
    border-top: 1px solid $grey-light;
  }

  .verdict-bottom-container {
    display: flex;
    flex: 1;
    height: 80px;
    justify-content: space-between;
    margin-top: 20px;

    .mean-container {
      height: 80px;
      width: 100px;
      background-color: $white;
      display: flex;

      .mean {
        display: flex;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        opacity: 0.65;
        border-radius: 10px;
        font-family: Apercu;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

        &.positive {
          background-color: $green;
          color: #88e749;
        }
        &.neutral {
          background-color: $yellow;
          color: #df8d16;
        }
        &.negative {
          background-color: $red;
          color: #e53c3c;
        }
        &.na {
          background-color: $grey;
          color: #f2f3f6;
        }
      }
    }

    .counts-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      height: 80px;
      max-width: 30px;
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;

      .bar {
        height: 6px;
        border-radius: 4px;
        &.bar-2 {
          background-color: #29c2c2;
        }
        &.bar-1 {
          background-color: #88e749;
        }
        &.bar-0 {
          background-color: #ffd452;
        }
        &.bar-\-1 {
          background-color: #fc8900;
        }
        &.bar-\-2 {
          background-color: #d00000;
        }
        &.bar-na {
          background-color: #6d6d6d;
        }
      }
    }

    .users-container {
      display: flex;
      flex:1;
      border-radius: 10px;
      background-color: $grey-lighter;
      padding: 15px;
      font-family: Apercu;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      .editor-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;

        .editor-title {
          font-family: Apercu;
          font-size: 14px;
          color: $black
        }
      }

      .reviewers-container {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;

        .reviewer-title {
          font-family: Apercu;
          font-size: 14px;
          color: $black
        }
      }

      .editor-avatar {
        width: 30px;
        height: 30px;
        margin-left: 0;
        margin-right: 0;
      }

      .reviewer-avatar {
        width: 30px;
        height: 30px;
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}
