.verdict-item {
  @extend .item;
  padding: 0.8rem;

  &:focus {
    outline: none;
  }

  &.clickable {
    &:focus {
      outline: $blue-dark auto 1px;
    }

    cursor: pointer;
  }

  h3 {
    color: $grey-darker;
    font-size: 1rem;
  }

  .content-item {
    padding: 0;
    border: 0;
  }

  .verdict-medium {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
    align-items: center;  
    font-size: 0.64em;

    .avatar {
      margin: 0;
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $grey-light;
    width: 25%;
  }
}
@media only screen and (min-width: 400px) {
  .verdict-item {
    padding: 1.25rem;

    h3 {
      font-size: 1.25rem;
    } 

    p {
      font-size: 1rem;
    }
    .verdict-medium{
      flex-direction: row;
      font-size: 0.8em;
    }

  }
}