@import 'Menu/index.scss';
@import 'Navigations.scss';


.header {
  * {
    pointer-events: auto;
  }

  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;

  &.is-blurred {
    filter: blur(1px);
    opacity: 0.1;
    pointer-events: none;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    max-width: $header-and-footer-max-width;
    transition: filter 0.5s, opacity 0.5s;
    width: 100%;
    z-index: 1000;

    .left-content {
      display: flex;
      height: 100%;
      max-width: 80%;
      width: 50%;

      .logo {
        padding: 0.5rem;

        img {
          height: 100%;
          width: auto;
          vertical-align: middle;
          display: flex;
        }
      }
    }
    .right-content {
      align-items: center;
      display: flex;

      .support-us {
        @extend .button;
        @extend .is-outlined;
        @extend .thin;

        border-color: $orange;
        color: $grey-darker;
      }
    }
  }
}
